* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

#navContainer {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(20px);
}

.nav-item {
    padding: 10px 20px;
    color: #000;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    transition: 300ms;
}

.nav-item:hover {
    color: #FFF;
    background-color: rgba(0, 0, 0, .2);
    cursor: pointer;
}

@media (max-width: 600px) {
    #navContainer {
        width: 80vw;
        justify-content: space-between;
    }
}